.footer{

padding:70px 10%;
background:#111;
color:#757575;

}

.footer-social{

display:flex;
gap:25px;
font-size:30px;
margin-bottom:30px;

}

.footer-links{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}

.footer-links div{

display:flex;
flex-direction:column;

}

.footer-links a{

color:#757575;
text-decoration:none;
margin-bottom:15px;
font-size:14px;

}

.footer-links a:hover{

text-decoration:underline;

}

.footer p{

margin-top:40px;

}